.container {
    display: flex;
    flex-wrap: wrap;
}

.uno, .dos, .tres, .cuatro {
    height: 300px;
    width: 400px;
    min-width: 200px;
    margin: 10px auto;
    font-size: 20px;
    padding: 5px;
}

.uno {
    background-color: bisque;
}

.dos {
    background-color: rgb(129, 84, 30);
    color: antiquewhite;
}

.tres {
    background-color: rgb(239, 139, 18);
}

.cuatro {
    background-color: rgb(51, 43, 33);
    color: antiquewhite;
}
